<section class = "assignment_form">
  <%= form_for(@assignment) do |f| %>
  <section>
    <aside>
      <%= f.label :name %>
    </aside>
    <article>
      <%= f.text_field :name %>
    </article>
  </section>

  <section>
    <aside>
      <%= f.label :description %><br>
    </aside>
    <article>
      <%= f.text_area :description %>
    </article>
  </section>


  <section>
    <aside>
      <%= f.label :due_at %><br>
    </aside>
    <article>
    <%= f.datetime_select :due_at %>
  </section>
  </div>

  <section>
    <aside>
      <%= f.label :visible %><br>
    </aside>
    <article>
    <%= f.check_box :visable %>
  </article>
</section>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</section>
