<section class = "assignment_form">
  <%= form_for(@assignment) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field date">
    <%= f.label :due_at %><br>
    <%= f.datetime_select :due_at %>
  </div>

  <div class="field">
    <%= f.label :visible %><br>
    <%= f.check_box :visable %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</section>
